<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flask Plotlyjs Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Legalization of Marijuana Behavioral Impacts: Use and Arrest Data</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <body>
            <div id="fig"></div>
            <select id="selDataset" onchange="getData(this.value)">
                <option value="arrestprispop">Arrest Data By Legalization Status</option>
                <option value="useyr_891617_grpleg">Use in the Last Year By Legalization Status</option>
                <option value="pop_private">Private Prison Population By Legalization Status</option>
            </select>
        
            <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        
        </body>
        </html>
